<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT frontpage ANY>
<!ATTLIST frontpage id ID #REQUIRED>
<!ELEMENT attribute ANY>
<!ATTLIST attribute id ID #REQUIRED>
<!ELEMENT attributeGroup ANY>
<!ATTLIST attributeGroup id ID #REQUIRED>
<!ELEMENT attributes ANY>
<!ATTLIST attributes id ID #REQUIRED>
<!ELEMENT cart ANY>
<!ATTLIST cart id ID #REQUIRED>
<!ELEMENT cartStep ANY>
<!ATTLIST cartStep id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT productList ANY>
<!ATTLIST productList id ID #REQUIRED>
<!ELEMENT variant ANY>
<!ATTLIST variant id ID #REQUIRED>
]>
<root id="-1">
  <frontpage id="1205" key="b768f46d-a969-4924-a459-1a16708413a5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-04-18T09:53:04" updateDate="2018-05-17T12:18:08" nodeName="Home" urlName="home" path="-1,1205" isDoc="" nodeType="1174" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1202" nodeTypeAlias="frontpage" isPublished="false">
    <newProducts><![CDATA[umb://document/cde84d266cbf49c18a8252118225b8cb,umb://document/fb0a3172bdc746899c71c258cc90f8d9,umb://document/49d306fc96d24ece816245fd28654ef1,umb://document/fbaa474d648840c3bbb3a162b57b3915,umb://document/68e312171999412da57dd42146458bf6,umb://document/b2be9df8a63f416aa977e8a2124007b2]]></newProducts>
    <featuredProducts><![CDATA[umb://document/39633ad94a094966857625367ff106fb,umb://document/3dd873f4481343ea985ca3ce9c8f8e14,umb://document/5716f0b3a48d4b89b78af404ba907c47,umb://document/2df43ac25eea4960a7fcfe92994ef1d2,umb://document/f33a4136989e46258ab81b6f166198a0,umb://document/cc0dd72572c54f1b86ed1794b998495d]]></featuredProducts>
    <slider><![CDATA[umb://media/67ffc3b36f1544c4a29e1da7962054a1,umb://media/44d2c7dfa7a9472ba96290a1b85c07e4,umb://media/552d42034eba48feb008408b98f90f96]]></slider>
    <store>1</store>
    <cart id="1206" key="09a6e1ca-b7ad-4e8d-a65c-7fb9136efbb8" parentID="1205" level="2" creatorID="0" sortOrder="0" createDate="2018-04-18T09:56:08" updateDate="2018-05-11T09:42:34" nodeName="Din Kurv" urlName="din-kurv" path="-1,1205,1206" isDoc="" nodeType="1183" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1197" nodeTypeAlias="cart" isPublished="true">
      <cartStep id="1207" key="15acb3a0-a9ab-4c35-8d4b-b29fe4f8a97a" parentID="1206" level="3" creatorID="0" sortOrder="0" createDate="2018-04-18T09:57:26" updateDate="2018-04-18T10:35:34" nodeName="Information" urlName="information" path="-1,1205,1206,1207" isDoc="" nodeType="1185" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1198" nodeTypeAlias="cartStep" isPublished="true" />
      <cartStep id="1208" key="11eadcc8-2e81-43e2-a2c2-4b21120135f8" parentID="1206" level="3" creatorID="0" sortOrder="1" createDate="2018-04-18T09:57:48" updateDate="2018-04-18T10:35:36" nodeName="Forsendelse/betaling" urlName="forsendelsebetaling" path="-1,1205,1206,1208" isDoc="" nodeType="1185" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1199" nodeTypeAlias="cartStep" isPublished="true" />
      <cartStep id="1209" key="0b9ba132-6d56-41e0-8c6f-0504358ade2a" parentID="1206" level="3" creatorID="0" sortOrder="2" createDate="2018-04-18T09:58:13" updateDate="2018-04-18T10:35:41" nodeName="Godkendelse" urlName="godkendelse" path="-1,1205,1206,1209" isDoc="" nodeType="1185" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1200" nodeTypeAlias="cartStep" isPublished="true" />
      <cartStep id="1210" key="8d57f000-840e-4779-b001-daa7b8430955" parentID="1206" level="3" creatorID="0" sortOrder="3" createDate="2018-04-18T09:58:27" updateDate="2018-04-18T10:35:43" nodeName="Betaling" urlName="betaling" path="-1,1205,1206,1210" isDoc="" nodeType="1185" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1197" nodeTypeAlias="cartStep" isPublished="true" />
      <cartStep id="1211" key="04e0e3d6-18cb-4904-9554-9311ecb42f7b" parentID="1206" level="3" creatorID="0" sortOrder="4" createDate="2018-04-18T09:58:50" updateDate="2018-04-18T10:35:45" nodeName="Bekræftelse" urlName="bekraeftelse" path="-1,1205,1206,1211" isDoc="" nodeType="1185" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1201" nodeTypeAlias="cartStep" isPublished="true" />
    </cart>
    <productList id="1212" key="250df946-b6fc-4847-867e-8ef1e3758f55" parentID="1205" level="2" creatorID="0" sortOrder="1" createDate="2018-04-18T09:59:46" updateDate="2018-05-03T10:01:29" nodeName="Legetøj" urlName="legetoej" path="-1,1205,1212" isDoc="" nodeType="1190" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1204" nodeTypeAlias="productList" isPublished="true">
      <product id="2107" key="39633ad9-4a09-4966-8576-25367ff106fb" parentID="1212" level="3" creatorID="0" sortOrder="0" createDate="2018-05-08T13:02:13" updateDate="2018-05-11T09:22:42" nodeName="Marble Run" urlName="marble-run" path="-1,1205,1212,2107" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[180]]></priceDKK>
        <image><![CDATA[umb://media/18ccf5412c414581a810cec2a68c33d1,umb://media/8ec7dade23a94b9d9e47e24c293283d1]]></image>
        <stock><![CDATA[20]]></stock>
        <sku><![CDATA[p0003]]></sku>
        <productName><![CDATA[Marble Run]]></productName>
        <description><![CDATA[<div class="row">
<div class="col-xs-12">
<h1 class="deal-title">Marble run kuglebane med 105 dele</h1>
<div>
<p>Byg din egen kuglebane og slip kuglerne løs med Marble run spillet.</p>
<p>Underholdende marble race game spil for hele familien med hele 105 dele.<br />Pakken indeholder helfarvede (assorteret) samt transparente byggedele både lige såvel som krogede byggedele, så børnene kan bygge sin helt egen crazy rutsjebane inkl. 4 x propeller, så kuglerne kan få ekstra fart på banen. Byg baner som vist på æsken eller eksperimenter med din helt egen version af tårne, broer og spor.</p>
<p class="AfslutIntrotekst"> </p>
<ul>
<li class="AfslutIntrotekst">105 byggedele</li>
<li class="AfslutIntrotekst">Velegnet til børn over 5 år</li>
</ul>
</div>
</div>
</div>]]></description>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1215": true,
    "1220": true,
    "2095": true
  }
}]]></variants>
      </product>
      <product id="2115" key="5716f0b3-a48d-4b89-b78a-f404ba907c47" parentID="1212" level="3" creatorID="0" sortOrder="1" createDate="2018-05-08T13:06:31" updateDate="2018-05-11T09:22:34" nodeName="Magsmarters" urlName="magsmarters" path="-1,1205,1212,2115" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[999]]></priceDKK>
        <image><![CDATA[umb://media/223f4346cde04f888bc21a7d7442292f,umb://media/65d5dd6bf68f4fe19e629e00ba454a72]]></image>
        <stock><![CDATA[459]]></stock>
        <sku><![CDATA[p0005]]></sku>
        <productName><![CDATA[Magsmarters]]></productName>
        <description><![CDATA[<h1 class="deal-title">Kreativ leg med Magsmarters</h1>
<div>
<p>Konstruer de fedeste bygninger, figurer og meget andet med de smarte Magsmarters, hver brik indeholder en stærk magnet på hver side og kan derfor sættes sammen på utallige måder. Magsmarters udvikler dit barns motorik og forståelse for sammensætning af objekter på en anderledes og sjov måde.</p>
<p class="AfslutIntrotekst">Sættet indeholder følgende:</p>
<p>18 x trekanter<br />20 x firkanter<br />2 x 6-kanter<br />2 x rhombus (firkant)<br />1x dobbelt-firkant <br />6x billedbrikker <br />2 sæt hjul</p>
<p>Materiale: Plastik/magnet</p>
</div>]]></description>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1215": true,
    "1220": true,
    "2095": true
  }
}]]></variants>
      </product>
      <product id="2119" key="cc0dd725-72c5-4f1b-86ed-1794b998495d" parentID="1212" level="3" creatorID="0" sortOrder="2" createDate="2018-05-08T13:09:02" updateDate="2018-05-11T09:22:51" nodeName="Minion Drone" urlName="minion-drone" path="-1,1205,1212,2119" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[200]]></priceDKK>
        <image><![CDATA[umb://media/d860caaf49d5421a8733a6912e0b4309,umb://media/f77f08f14aec48df833da4099ba55e07]]></image>
        <stock><![CDATA[29]]></stock>
        <sku><![CDATA[p0006]]></sku>
        <productName><![CDATA[Minion Drone]]></productName>
        <description><![CDATA[<h1 class="deal-title">Sød og sjov Minions drone</h1>
<div>
<p>Vi kender dem alle fra Grusomme Mig - de sjove, små minions - nu i form af en drone. Sød og sjov drone som både børn og voksne vil finde underholdende i mange timer. Minions drone med fjernbetjening og op til 10 minutters flyvetid.</p>
<p class="AfslutIntrotekst"> </p>
<ul>
<li>Mål ca. 16 x 16 x 8 cm </li>
<li>Føledistance: 10 cm </li>
<li>Opladetid: 20-30 min </li>
<li>Flyvetid: 6-10 min </li>
<li>Fjernbetjening medfølger (tænd/sluk funktion)</li>
<li>Inklusiv USB kabel til opladning af dronen </li>
</ul>
<p> </p>
<p> Sådan gør du: <br /><br />Tænd for dronen på on-knappen på ryggen af den lille minion og vent 3 sek. inden dronens propeller sættes igang (hvis den stopper, sluk blot på off-knappen og tænd igen)<br /><br />Tænd for fjernbetjeningen så flyvefunktionen aktiveres<br /><br />For at flyve dronen sættes hånden blot under/eller på siden af dronen, alt efter hvor du ønsker dronen styret hen (hold hånden ca. 10 cm fra dronen)<br /><br />Hvis dronen løber tør for strøm sættes den blot til opladning med det medfølgende USB kabel.</p>
<p> </p>
<p><iframe src="https://www.youtube.com/embed/T5lNioJblEU?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" width="360" height="203" frameborder="0"></iframe></p>
</div>]]></description>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1215": true,
    "1220": true,
    "2095": true
  }
}]]></variants>
      </product>
      <product id="2123" key="3dd873f4-4813-43ea-985c-a3ce9c8f8e14" parentID="1212" level="3" creatorID="0" sortOrder="3" createDate="2018-05-08T13:10:37" updateDate="2018-05-11T09:22:57" nodeName="Frizzy Creations" urlName="frizzy-creations" path="-1,1205,1212,2123" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[250]]></priceDKK>
        <image><![CDATA[umb://media/30b1d8390cea4f1ea5496c4722a6b0a8,umb://media/1e69a32b23154b89924bcf6c0220ce18]]></image>
        <stock><![CDATA[77]]></stock>
        <sku><![CDATA[p0007]]></sku>
        <productName><![CDATA[Frizzy Creations]]></productName>
        <description><![CDATA[<h1 class="deal-title">Frizzy Creations - kæmpe pakke</h1>
<div>
<p>Sjov for hele familien med sjove og inspirerende Frizzy Creations! Køb til en super skarp pris lige nu. Frizzy Creations er samlesættet, hvor kun fantasien sætter grænserne -  mere end 400 dele er med i pakken. Tryk de små frizzy kugler sammen og skab dine helt egne yndlings figurer, ingen klæbemasse eller lign. flettes/trykkes blot ind i hinanden - det er simpelt og alle kan finde ud af det.</p>
<p class="AfslutIntrotekst">Pakken indeholder:<br />• 400 stk. frizzy creations i farverne sort, hvid, blå, orange, grøn, rød, gul og pink (50 stk. á hver farve)<br />• 36 stk. sjovt tilbehør<br />• 1 stk. vejledning</p>
</div>]]></description>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1215": true,
    "1220": true,
    "2095": true
  }
}]]></variants>
      </product>
      <product id="2145" key="2df43ac2-5eea-4960-a7fc-fe92994ef1d2" parentID="1212" level="3" creatorID="0" sortOrder="4" createDate="2018-05-09T12:04:33" updateDate="2018-05-11T09:23:02" nodeName="Unospin" urlName="unospin" path="-1,1205,1212,2145" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[200]]></priceDKK>
        <image><![CDATA[umb://media/68bda817df4b43eaafd1b8ef880627af,umb://media/f69b83d8e7e049ed8ea51932cd59901a]]></image>
        <stock><![CDATA[34]]></stock>
        <sku><![CDATA[p0012]]></sku>
        <productName><![CDATA[Unospin]]></productName>
        <description><![CDATA[<div class="row">
<div class="col-xs-12">
<h1 class="deal-title">Unospin, det sjove familiespil</h1>
<div>
<p>Revolutionerende udgave af det klassiske UNO kortspil - UNO spillet som vi alle kender det dog med et twist - bogstaveligt talt. Sjovere end nogensinde før!</p>
<p>Når et spinkort bliver trukket så skal hjulet drejes. Spørgsmålet er så om heldet er på din side. Vil du skulle smide kort eller trække flere kort op? Måske bytte kort med en modspiller.</p>
<p>Ét spin kan ændre hele spillet. Spillere kan 'overhale' dig og pludseligt tage føringen.</p>
<p> </p>
<p>Indeholder:<br />• 1 stk. UNO spilleplade<br />• 1120 UNO spin kort<br />• Instruktioner<br />• 2-10 spillere</p>
<p> </p>
<p>Underholdende familiespil, som får hovedet til at snurre!</p>
</div>
</div>
</div>]]></description>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "2095": true
  }
}]]></variants>
      </product>
    </productList>
    <productList id="1213" key="2f4967b0-8158-462a-a2e2-1cc9c1807371" parentID="1205" level="2" creatorID="0" sortOrder="2" createDate="2018-04-18T10:00:56" updateDate="2018-05-03T10:02:09" nodeName="Udendørs Leg" urlName="udendoers-leg" path="-1,1205,1213" isDoc="" nodeType="1190" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1204" nodeTypeAlias="productList" isPublished="true">
      <product id="2111" key="f33a4136-989e-4625-8ab8-1b6f166198a0" parentID="1213" level="3" creatorID="0" sortOrder="0" createDate="2018-05-08T13:04:26" updateDate="2018-05-11T09:23:08" nodeName="Magisk Sand" urlName="magisk-sand" path="-1,1205,1213,2111" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[300]]></priceDKK>
        <image><![CDATA[umb://media/d8f0bcf88b6847378b70e0138d416db6,umb://media/7945c5d9cd824e95ada8bedfd078075d]]></image>
        <stock><![CDATA[16]]></stock>
        <sku><![CDATA[p0004]]></sku>
        <productName><![CDATA[Magisk Sand]]></productName>
        <description><![CDATA[<div class="row">
<div class="col-xs-12">
<h1 class="deal-title">Glæd børnene med det sjove magiske sand</h1>
<div>
<p>Magisk sand er smadder sjovt og det er både for både store og små og der rigeligt sand til byggeriet.<br /><br />Vi kender alle til frustrationen ved at lave sandslotte der konstant falder sammen ved den mindste berøring men med det fantastiske magiske sand kan du skabe yderst flotte kreationer, der bliver stående ligeså længe du ønsker og du kan selvfølgelig genforme sandet lige så mange gange du vil.</p>
<p>Der medfølger 1 skovl, 4 store forme og 8 små forme samt ca. 1,5 Kg. Magisk Sand</p>
</div>
</div>
</div>]]></description>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1215": true,
    "1220": true,
    "2095": true
  }
}]]></variants>
      </product>
      <product id="2127" key="68e31217-1999-412d-a57d-d42146458bf6" parentID="1213" level="3" creatorID="0" sortOrder="1" createDate="2018-05-09T11:47:05" updateDate="2018-05-11T09:23:13" nodeName="Air bed" urlName="air-bed" path="-1,1205,1213,2127" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[699]]></priceDKK>
        <image><![CDATA[umb://media/d90cec05cf8a40fba10f4552d8dd4bb7,umb://media/4ef22f2dae864983b5a380227c40cc02]]></image>
        <stock><![CDATA[58]]></stock>
        <sku><![CDATA[p0008]]></sku>
        <productName><![CDATA[Air bed]]></productName>
        <description><![CDATA[<h1 class="deal-title">Fed liggestol til strand og festival</h1>
<div>
<p>Vil du sidde og ligge behageligt ved stranden, i haven eller til musik festival så skal du have en af de populære oppustelige strandstole. Stolen vejer kun 1 Kg. og pustes op uden brug af pumpe.<br />Der medfølger taske til opbevaring og den kan bruges på alle underlag.</p>
<p><strong>Leveres gratis til din adresse. Køb flere og spar mange penge.</strong></p>
<p class="AfslutIntrotekst">Størrelse: Ca. 200 x 64 cm i oppustet tilstand<br />Max belastning: 180 Kg<br />Materiale: Nylon       <br />Vægt: Ca. 1,2 kg</p>
<div id="player" style="width: 100%; height: 100%;">
<div class="ytp-share-panel-inner-content">
<div class="ytp-share-panel-service-buttons"><iframe src="https://www.youtube.com/embed/36_4fEy-QIo?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" width="360" height="203" frameborder="0"></iframe></div>
</div>
</div>
</div>]]></description>
        <variants><![CDATA[{
  "variants": [
    {
      "id": "c29e85b6-2159-a974-36d0-5b9df3eb45d6",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "Sort",
          "id": 2096,
          "groupName": "Color",
          "groupId": 2095
        }
      ]
    },
    {
      "id": "5d88779c-a249-52b2-0ef3-dc1d504566a8",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "Pink",
          "id": 2098,
          "groupName": "Color",
          "groupId": 2095
        }
      ]
    },
    {
      "id": "ae50ec3d-09cd-6ead-4d4c-9c659aac3e9a",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "Blå",
          "id": 2099,
          "groupName": "Color",
          "groupId": 2095
        }
      ]
    },
    {
      "id": "48504080-7284-34e3-1388-a350c77579fd",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "Grøn",
          "id": 2128,
          "groupName": "Color",
          "groupId": 2095
        }
      ]
    },
    {
      "id": "97b73101-0037-144c-4c55-c148721ad60e",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "Rød",
          "id": 2129,
          "groupName": "Color",
          "groupId": 2095
        }
      ]
    }
  ],
  "variantGroupsOpen": {
    "2095": true
  }
}]]></variants>
      </product>
      <product id="2133" key="b2be9df8-a63f-416a-a977-e8a2124007b2" parentID="1213" level="3" creatorID="0" sortOrder="2" createDate="2018-05-09T11:50:50" updateDate="2018-05-11T09:23:18" nodeName="LED Cykel Lys" urlName="led-cykel-lys" path="-1,1205,1213,2133" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[399]]></priceDKK>
        <image><![CDATA[umb://media/a1285d5c0cc24fffa4189551dd4ff4d5,umb://media/d708000b568d4989b4472a031bf4cf34]]></image>
        <stock><![CDATA[92]]></stock>
        <sku><![CDATA[p0009]]></sku>
        <productName><![CDATA[LED Cykel Lys]]></productName>
        <description><![CDATA[<h1 class="deal-title">Få de fedeste lys på din cykel.</h1>
<div>
<p>Her får du masser af lys på cyklens hjul og det bliver helt umuligt at overse dig i trafikken. Disse specielle LED lygter monteres på cyklens hjul uden brug af værktøj og de starter automatisk når mørket falder på og hjulet bevæger sig.</p>
<p>LED lygten indeholder 14 LED lys som kan skifte mellem 30 flotte mønstre. Lygten skifter automatisk mønstre når du cykler og du vil blive set på meget lang afstand.</p>
<p> </p>
<ul>
<li class="AfslutIntrotekst">14 LED teknologi</li>
<li class="AfslutIntrotekst">30 forskellige mønstre</li>
<li class="AfslutIntrotekst">Automatisk start</li>
<li class="AfslutIntrotekst">Monteres uden brug af værktøj</li>
</ul>
<p><br /><iframe src="https://www.youtube.com/embed/bebLN-Z6Smk?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" width="360" height="203" frameborder="0"></iframe></p>
</div>]]></description>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "2095": true
  }
}]]></variants>
      </product>
    </productList>
    <productList id="1254" key="e94a7872-2ed1-4877-aac6-cc8a04527595" parentID="1205" level="2" creatorID="0" sortOrder="5" createDate="2018-05-03T10:03:47" updateDate="2018-05-03T10:04:11" nodeName="Gadgets" urlName="gadgets" path="-1,1205,1254" isDoc="" nodeType="1190" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1204" nodeTypeAlias="productList" isPublished="true">
      <product id="2090" key="cde84d26-6cbf-49c1-8a82-52118225b8cb" parentID="1254" level="3" creatorID="0" sortOrder="0" createDate="2018-05-07T08:55:15" updateDate="2018-05-11T09:23:25" nodeName="Kid Smartwatch" urlName="kid-smartwatch" path="-1,1205,1254,2090" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[999]]></priceDKK>
        <image><![CDATA[umb://media/643782ad18594a1bb4d6daf81abbe621,umb://media/25dbf8a66eef4168950cc039e35b43a6]]></image>
        <stock><![CDATA[47]]></stock>
        <sku><![CDATA[p0001]]></sku>
        <productName><![CDATA[ Smart GPS tracker ur til børn]]></productName>
        <description><![CDATA[<p>Med dette intelligente ur kan du hurtigt se, hvor dit barn befinder sig og du kan hurtigt ringe til dit barn, hvis du har behov for at give en besked. Barnet kan også ringe til forudindstillede numre på uret men barnet kan ikke ringe til andre numre eller gå på internettet med uret. Du sporer dit barn via en mobiltelefon ved at installere en gratis app på telefonen.</p>
<p class="AfslutIntrotekst">Der skal installeres et simkort i uret med data og det må ikke være simlåst.<br />Efter køb af uret vil du også få adgang til vores Danske video, hvor uret og appen installeres.<br /><br /></p>
<p class="AfslutIntrotekst"> </p>
<ul>
<li class="AfslutIntrotekst"><strong>2-vejs kommunikation:</strong> Som forældre kan du ringe til barnet og barnet kan ringe til forældre.</li>
</ul>
<p> </p>
<ul>
<li><strong>SOS-knap:</strong> Når barnet trykker på SOS-knappen i 3 sekunder modtager samtlige registrerede numre på uret en SMS med et link til positionen, hvor barnet befinder sig.</li>
</ul>
<p> </p>
<ul>
<li><strong>Nøjagtig position:</strong> Dobbel possitionsteknologi baseret på GPS + LBS som indenfor få meter fortæller hvor dit barn befinder sig.</li>
</ul>
<p> </p>
<ul>
<li><strong>Geofence:</strong> Du kan indtegne en rute på uret og hvis barnet så bevæger sig uden for denne rute sender uret en SMS til din mobiltelefon. Det kan feks. være ruten fra hjemmet til barnets skole.<br /><br /></li>
</ul>
<p> </p>
<p>GPS-trackeren logger data med historik over de seneste tre måneder, så man som forældre kan følge med i barnets ruter.</p>]]></description>
        <variants><![CDATA[{
  "variants": [
    {
      "id": "36753bb0-f42b-be52-0f56-042e7e8f1374",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "Pink",
          "id": 2098,
          "groupName": "Color",
          "groupId": 2095
        }
      ]
    },
    {
      "id": "b943b69b-f61a-b309-1ab0-ad34c8ce07ed",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "Blå",
          "id": 2099,
          "groupName": "Color",
          "groupId": 2095
        }
      ]
    }
  ],
  "variantGroupsOpen": {
    "1215": true,
    "1220": true,
    "2095": true
  }
}]]></variants>
      </product>
      <product id="2103" key="fb0a3172-bdc7-4689-9c71-c258cc90f8d9" parentID="1254" level="3" creatorID="0" sortOrder="1" createDate="2018-05-08T13:00:39" updateDate="2018-05-11T09:23:30" nodeName="Action Kamera" urlName="action-kamera" path="-1,1205,1254,2103" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[599]]></priceDKK>
        <image><![CDATA[umb://media/d13a8e922442460e80153adcea3c2a86,umb://media/29e1abde72504e04a9c7d38f7041562b]]></image>
        <stock><![CDATA[43]]></stock>
        <sku><![CDATA[p0002]]></sku>
        <productName><![CDATA[Action Kamera]]></productName>
        <description><![CDATA[<h1 class="deal-title">Vandtæt actionkamera til ferien</h1>
<div>
<p>Flot vandtæt kamera som feks. kan bruges på ferien uanset om du er i vandet eller i luften.<br />Kameraet er vandtæt ned til 30m og der kan monteres SD kort på op til 32Gb.<br />Indbygget 2" display, understøttet op til 480p</p>
<p class="AfslutIntrotekst"> </p>
<ul>
<li>2" display</li>
<li>1,3 Megapixels Cmos sensor</li>
<li>480p - 640*480 30 frame pr. sekund</li>
<li>Video format - AVI</li>
</ul>
</div>]]></description>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1215": true,
    "1220": true,
    "2095": true
  }
}]]></variants>
      </product>
      <product id="2137" key="49d306fc-96d2-4ece-8162-45fd28654ef1" parentID="1254" level="3" creatorID="0" sortOrder="2" createDate="2018-05-09T11:53:21" updateDate="2018-05-11T09:23:35" nodeName="Talende Plante" urlName="talende-plante" path="-1,1205,1254,2137" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[599]]></priceDKK>
        <image><![CDATA[umb://media/dffacb35c96e40f186882cb0eedeef1e,umb://media/edcc49988174471abfe4d036f2c8567f]]></image>
        <stock><![CDATA[39]]></stock>
        <sku><![CDATA[p0010]]></sku>
        <productName><![CDATA[Talende Plante]]></productName>
        <description><![CDATA[<h1 class="deal-title">Rør ved din plante og den taler til dig</h1>
<div>
<p>Med den intelligente potteskjuler får du en flot skjuler til dine blomster. Potteskjuleren har indbygget højttaler med subwoofer så du kan spille afdæmpet musik via Bluetooth. Potteskjuleren har indbygget vandstandsmåler som automatisk tilfører blomsten vand. Rører du ved din blomst blade vil potteskjuleren spille musik for dig. <br />Potteskjuleren kan lyse i flere afdæmpede nuancer. Du kan på plantens blade spille en melodi (se video)</p>
<p class="AfslutIntrotekst"> </p>
<ul>
<li class="AfslutIntrotekst">Bluetooth højttaler med subwoofer</li>
<li class="AfslutIntrotekst">Indbygget vandmåler</li>
<li class="AfslutIntrotekst">Indbygget multicolor system</li>
<li class="AfslutIntrotekst">Intelligent berøringsteknik</li>
<li class="AfslutIntrotekst">Mål: 11,7 x 11,4 CM</li>
</ul>
<p><iframe src="https://www.youtube.com/embed/FdZU7rDQmSU?feature=oembed" allow="autoplay; encrypted-media" allowfullscreen="" width="360" height="203" frameborder="0"></iframe></p>
</div>]]></description>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "2095": true
  }
}]]></variants>
      </product>
      <product id="2141" key="fbaa474d-6488-40c3-bbb3-a162b57b3915" parentID="1254" level="3" creatorID="0" sortOrder="3" createDate="2018-05-09T11:58:34" updateDate="2018-05-11T09:23:40" nodeName="Powerbank" urlName="powerbank" path="-1,1205,1254,2141" isDoc="" nodeType="1188" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="1203" nodeTypeAlias="product" isPublished="true">
        <priceDKK><![CDATA[99]]></priceDKK>
        <image><![CDATA[umb://media/4cbe11d83a4e4693a6959cc932d604eb,umb://media/ff2b6f4e27ad43f29ce036c9fb7369e5]]></image>
        <stock><![CDATA[33]]></stock>
        <sku><![CDATA[p0011]]></sku>
        <productName><![CDATA[Powerbank]]></productName>
        <description><![CDATA[<div class="row">
<div class="col-xs-12">
<h1 class="deal-title">Smart Powerbank som lige passer i lommen</h1>
<div>
<p style="text-align: left;">Smart Powerbank som passer godt i lommen, så er du altid sikker på at have lidt ekstra strøm. Denne Powerbank er på 2600Mah, hvilket svarer til ca. 1 opladning af en iPhone 5. Kan leveres i flere farver.</p>
<p> </p>
<p class="AfslutIntrotekst">Enheden oplades med et Micro USB kabel (medfølger ikke)</p>
</div>
</div>
</div>]]></description>
        <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "2095": true
  }
}]]></variants>
      </product>
    </productList>
    <attributes id="2094" key="54904ecf-32a8-4965-9735-b6b17e1ac608" parentID="1205" level="2" creatorID="0" sortOrder="6" createDate="2018-05-07T13:14:59" updateDate="2018-05-07T13:42:03" nodeName="Varianter" urlName="varianter" path="-1,1205,2094" isDoc="" nodeType="1181" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="0" nodeTypeAlias="attributes" isPublished="true">
      <attributeGroup id="2095" key="dabff29d-d35a-47b3-adb5-077f8714b4ec" parentID="2094" level="3" creatorID="0" sortOrder="0" createDate="2018-05-07T13:15:48" updateDate="2018-05-07T13:15:48" nodeName="Color" urlName="color" path="-1,1205,2094,2095" isDoc="" nodeType="1179" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="0" nodeTypeAlias="attributeGroup" isPublished="true">
        <attribute id="2096" key="bfc679c0-ae48-40d7-8bf6-91e83b8fe47e" parentID="2095" level="4" creatorID="0" sortOrder="0" createDate="2018-05-07T13:16:11" updateDate="2018-05-07T13:18:16" nodeName="Sort" urlName="sort" path="-1,1205,2094,2095,2096" isDoc="" nodeType="1177" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="2097" key="c311c851-69f3-4528-91f2-7c993d82c56e" parentID="2095" level="4" creatorID="0" sortOrder="1" createDate="2018-05-07T13:16:35" updateDate="2018-05-07T13:16:35" nodeName="Hvid" urlName="hvid" path="-1,1205,2094,2095,2097" isDoc="" nodeType="1177" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="2098" key="c379f378-eec5-4f69-b08c-a44200de8afb" parentID="2095" level="4" creatorID="0" sortOrder="2" createDate="2018-05-07T13:16:55" updateDate="2018-05-07T13:16:55" nodeName="Pink" urlName="pink" path="-1,1205,2094,2095,2098" isDoc="" nodeType="1177" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="2099" key="fbaf9c5e-7d0f-4598-b1b2-d8ba22de5e5a" parentID="2095" level="4" creatorID="0" sortOrder="3" createDate="2018-05-07T13:17:01" updateDate="2018-05-07T13:17:01" nodeName="Blå" urlName="blaa" path="-1,1205,2094,2095,2099" isDoc="" nodeType="1177" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="2128" key="a948587a-3a65-4722-a741-c2442b393fc3" parentID="2095" level="4" creatorID="0" sortOrder="4" createDate="2018-05-09T11:47:56" updateDate="2018-05-09T11:47:56" nodeName="Grøn" urlName="groen" path="-1,1205,2094,2095,2128" isDoc="" nodeType="1177" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="2129" key="9eee2dfc-edc8-4417-9298-fb657f163b7f" parentID="2095" level="4" creatorID="0" sortOrder="5" createDate="2018-05-09T11:48:04" updateDate="2018-05-09T11:48:04" nodeName="Rød" urlName="roed" path="-1,1205,2094,2095,2129" isDoc="" nodeType="1177" creatorName="Nicolai Mosegaard" writerName="Nicolai Mosegaard" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
      </attributeGroup>
    </attributes>
  </frontpage>
</root>